body,
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
button {
  font-size: 1em;
}
button:focus {
  outline: 0 !important;
}

h1 {
  font-size: 40px;
  text-align: center;
}

.click-disabled {
  cursor: not-allowed;
}

.face {
  text-align: center;
  font-size: 1em;
  color: white;
  background-color: teal;
  z-index: 0;
}

.back {
  background-color: blue;
  z-index: 1;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}
.start-btn {
  box-shadow: -2px 5px 2px #2296f5;
}
.start-btn:hover {
  background-color: #0289f7;
}

.start-btn:active {
  box-shadow: 0px 3px 2px #0289f7;
  top: 3px;
}

.back:hover {
  background-color: teal;
  cursor: pointer;
}

.correct {
  background-color: green;
  animation: success 1s;
  cursor: not-allowed;
}

.wrong {
  background-color: red;
  animation: shake 0.3s infinite;
  cursor: not-allowed;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes success {
  0%,
  100% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
}

.instructions {
  color: white;
  text-align: center;
}

.winner {
  animation: congratulations 0.3s infinite;
}

@keyframes congratulations {
  0%,
  100% {
    color: blue;
  }
  50% {
    color: red;
    transform: scale(1.1, 1.2);
  }
}

.row {
  width: 100%;
  height: 35%;
  /* border: 1px solid white; */
}

/* 24 card game */
.card-1 {
  margin-left: 3%;
}
.card-2 {
  margin-left: 19%;
}
.card-3 {
  margin-left: 35%;
}
.card-4 {
  margin-left: 51%;
}
.card-5 {
  margin-left: 67%;
}
.card-6 {
  margin-left: 83%;
}
.card-7 {
  margin-left: 3%;
}
.card-8 {
  margin-left: 19%;
}
.card-9 {
  margin-left: 35%;
}
.card-10 {
  margin-left: 51%;
}
.card-11 {
  margin-left: 67%;
}
.card-12 {
  margin-left: 83%;
}
.card-13 {
  margin-left: 3%;
}
.card-14 {
  margin-left: 19%;
}
.card-15 {
  margin-left: 35%;
}
.card-16 {
  margin-left: 51%;
}
.card-17 {
  margin-left: 67%;
}
.card-18 {
  margin-left: 83%;
}
.card-19 {
  margin-left: 3%;
}
.card-20 {
  margin-left: 19%;
}
.card-21 {
  margin-left: 35%;
}
.card-22 {
  margin-left: 51%;
}
.card-23 {
  margin-left: 67%;
}
.card-24 {
  margin-left: 83%;
}

/* ******* Media Queries ****** */
/* iPhone X Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .instructions {
    width: 90%;
    margin-left: 5%;
    letter-spacing: 0.2em;
    line-height: 1.8em;
    margin-top: 7%;
  }

  .start-btn {
    font-size: 1em;
  }
  .header {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 25%;
  }
  .title {
    font-size: 1.2em;
  }
  article {
    height: 55%;
    width: 100%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 12%;
    width: 14%;
    margin-top: 3%;
    margin-bottom: 1%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 10%;
    margin-top: 4%;
    margin-left: 45%;
  }
  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 1em;
    display: block;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    /* width: 47%; */
    /* background-color: blue; */
  }

  button {
    padding: 1em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    border: none;
    margin-left: 35%;
    /* position: absolute; */
    bottom: 5%;
  }
}

/* iPhone X Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .instructions {
    width: 90%;
    margin-left: 5%;
    letter-spacing: 0.2em;
    line-height: 1.6em;
    margin-top: 1%;
    font-size: 1em;
  }
  .start-btn {
    font-size: 0.8em;
  }
  .header {
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 25%;
  }
  .title {
    font-size: 1.2em;
    top: 0;
    position: absolute;
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }
  article {
    height: 55%;
    width: 100%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 12%;
    width: 14%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 5%;
    margin-top: 4%;
    margin-left: 47.5%;
  }

  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 0.8em;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    /* width: 47%; */
    /* background-color: blue; */
  }
  button {
    padding: 1em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    font-size: 16px;
    border: none;
    margin-left: 42%;
    position: absolute;
    bottom: 13%;
  }
  .card-text {
    margin-top: 15%;
  }
}

/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2), {
  .instructions {
    width: 90%;
    margin-left: 5%;
    letter-spacing: 0.2em;
    line-height: 1.8em;
    margin-top: 7%;
    font-size: 1.5em;
  }
  .start-btn {
    font-size: 2em;
  }
  .header {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 25%;
  }
  .title {
    font-size: 2.5em;
  }
  article {
    height: 55%;
    width: 100%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 12%;
    width: 14%;
    margin-top: 3%;
    margin-bottom: 1%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 10%;
    margin-top: 4%;
    margin-left: 45%;
  }
  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 2em;
    display: block;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
  }

  button {
    padding: 1em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    border: none;
    margin-left: 36%;
    bottom: 5%;
  }
  .card-text {
    margin-top: 40%;
    font-size: 2em;
  }
}

/* iPad Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2), {
  .instructions {
    width: 90%;
    margin-left: 5%;
    letter-spacing: 0.3em;
    line-height: 1.8em;
    margin-top: 1%;
    font-size: 1.5em;
  }
  .start-btn {
    font-size: 1.5em;
  }
  .header {
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 25%;
  }
  .title {
    font-size: 2em;
    top: 0;
    position: absolute;
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }
  article {
    height: 55%;
    width: 100%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 12%;
    width: 14%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 5%;
    margin-top: 4%;
    margin-left: 47.5%;
  }

  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 1.5em;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
  }
  button {
    padding: 1em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    border: none;
    margin-left: 42%;
    position: absolute;
    bottom: 13%;
  }
  .card-text {
    margin-top: 15%;
    font-size: 2em;
  }
}

/* iPad Pro Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2), {
  .instructions {
    width: 90%;
    margin-left: 5%;
    letter-spacing: 0.2em;
    line-height: 2em;
    margin-top: 7%;
    font-size: 2em;
  }

  .start-btn {
    font-size: 2.5em;
  }
  .header {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 25%;
  }
  .title {
    font-size: 2.5em;
  }
  article {
    height: 55%;
    width: 100%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 20%;
    width: 14%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 10%;
    margin-top: 4%;
    margin-left: 45%;
  }
  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 2.5em;
    display: block;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
  }

  button {
    padding: 1em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    border: none;
    margin-left: 37%;
    bottom: 5%;
  }
  .card-text {
    margin-top: 40%;
    font-size: 2em;
  }
}
/* iPad Pro Landscape */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .instructions {
    width: 90%;
    margin-left: 5%;
    letter-spacing: 0.3em;
    line-height: 2em;
    margin-top: 1%;
    font-size: 2em;
  }
  .start-btn {
    font-size: 2em;
  }
  .header {
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 25%;
  }
  .title {
    font-size: 3em;
    top: 0;
    position: absolute;
    /* left: 0; */
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }
  article {
    height: 55%;
    width: 100%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 12%;
    width: 14%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 5%;
    margin-top: 4%;
    margin-left: 47.5%;
  }

  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 2em;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
  }
  button {
    padding: 1em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    border: none;
    margin-left: 42%;
    position: absolute;
    bottom: 13%;
  }
  .card-text {
    margin-top: 15%;
    font-size: 2em;
  }
}

@media only screen and (max-width: 300px) {
  .instructions {
    width: 90%;
    margin-left: 5%;
    letter-spacing: 0.4em;
    line-height: 2em;
    margin-top: 7%;
    font-size: 0.8em;
  }

  .start-btn {
    font-size: 1em;
  }
  .header {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 25%;
    text-align: center;
  }
  .title {
    font-size: 1em;
    margin-top: 20%;
  }
  article {
    height: 55%;
    width: 100%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 15%;
    width: 14%;
    margin-top: 3%;
    margin-bottom: 1%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 10%;
    margin-top: 4%;
    margin-left: 45%;
  }
  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 1em;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em;
  }

  button {
    padding: 0.8em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    border: none;
  }
  .card-text {
    margin-top: 80%;
    font-size: 1em;
  }
}

@media only screen and (min-width: 300px) and (max-width: 650px) {
  .instructions {
    width: 90%;
    margin-left: 5%;
    letter-spacing: 0.2em;
    line-height: 1.8em;
    margin-top: 7%;
  }

  .start-btn {
    font-size: 1em;
  }
  .header {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 25%;
    text-align: center;
  }
  .title {
    font-size: 1.5em;
    margin-top: 5%;
  }
  article {
    height: 55%;
    width: 100%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 15%;
    width: 14%;
    margin-top: 3%;
    margin-bottom: 1%;
  }
  .row {
    height: 33%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 10%;
    margin-top: 4%;
    margin-left: 45%;
  }
  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 1em;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em;
  }

  button {
    padding: 1em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    border: none;
  }
  .card-text {
    margin-top: 35%;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  .instructions {
    width: 75%;
    margin-left: 12.5%;
    letter-spacing: 0.4em;
    line-height: 2em;
    margin-top: 5%;
  }

  .start-btn {
    font-size: 1em;
  }
  .header {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 25%;
    text-align: center;
  }
  .title {
    font-size: 1.5em;
    margin-top: 5%;
  }
  article {
    height: 55%;
    width: 100%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 15%;
    width: 14%;
    margin-top: 3%;
    margin-bottom: 1%;
  }
  .row {
    height: 33%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 10%;
    margin-top: 4%;
    margin-left: 45%;
  }
  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 1em;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em;
  }

  button {
    padding: 1em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    border: none;
  }
  .card-text {
    margin-top: 30%;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .instructions {
    width: 60%;
    margin-left: 20%;
    letter-spacing: 0.3em;
    line-height: 2.5em;
    margin-top: 1%;
    font-size: 1.1em;
  }

  .start-btn {
    font-size: 1em;
  }
  .header {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 15%;
    text-align: center;
  }
  .title {
    font-size: 2em;
    margin-top: 2%;
  }
  article {
    /* position: absolute; */
    height: 55%;
    width: 100%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 16%;
    width: 14%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 8%;
    margin-top: 4%;
    margin-left: 46%;
  }
  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 1em;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em;
  }

  button {
    padding: 1em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    border: none;
    margin-bottom: 2%;
  }
  .card-text {
    margin-top: 25%;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1300px) {
  .instructions {
    width: 70%;
    margin-left: 15%;
    letter-spacing: 0.3em;
    line-height: 2.5em;
    margin-top: 1%;
    font-size: 1.2em;
  }

  .start-btn {
    font-size: 1em;
  }
  .header {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #e9ecef;
    min-height: 15%;
    text-align: center;
  }
  .title {
    font-size: 3em;
    margin-top: 2%;
  }
  article {
    /* position: absolute; */
    height: 55%;
    width: 100%;
  }
  .row {
    /* border: 1px solid white; */
    height: 31.5%;
  }
  .card {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 15%;
    width: 14%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .card-image {
    display: inline-block;
    position: relative;
    width: 5%;
    margin-top: 2%;
    margin-left: 47.5%;
  }
  .refresh-btn {
    box-shadow: -2px 5px 2px orange;
    font-size: 1em;
  }
  .score-box {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em;
  }

  button {
    padding: 1em;
    border-radius: 5px;
    background-color: #23a6f7;
    color: white;
    border: none;
    margin-bottom: 2%;
  }
  .card-text {
    margin-top: 20%;
    font-size: 1.5em;
  }
}
