body,
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: black;
}

button:focus {
  outline: 0 !important;
}

article {
  height: 86%;
  width: 100%;
  background-color: black;
}

.refresh-btn {
  box-shadow: -2px 5px 2px orange;
}

/* 12 cards */
/* .row-top {
  width: 100%;
  height: 50%;
}
.row-bottom {
  width: 100%;
  height: 50%;
} */

/* 24 cards */
.row-1 {
  width: 100%;
  height: 25%;
}
.row-2 {
  width: 100%;
  height: 25%;
}
.row-3 {
  width: 100%;
  height: 25%;
}
.row-4 {
  width: 100%;
  height: 25%;
}

h1 {
  font-size: 40px;
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.click-disabled {
  cursor: not-allowed;
}

.card {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  height: 17%;
  width: 14%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.face {
  text-align: center;
  font-size: 1em;
  color: white;
  background-color: teal;
  z-index: 0;
}

.card-text {
  margin-top: 20%;
}

.back {
  background-color: blue;
  z-index: 1;
}

/* 24 card game */
.card-1 {
  margin-left: 3%;
}
.card-2 {
  margin-left: 19%;
}
.card-3 {
  margin-left: 35%;
}
.card-4 {
  margin-left: 51%;
}
.card-5 {
  margin-left: 67%;
}
.card-6 {
  margin-left: 83%;
}
.card-7 {
  margin-left: 3%;
}
.card-8 {
  margin-left: 19%;
}
.card-9 {
  margin-left: 35%;
}
.card-10 {
  margin-left: 51%;
}
.card-11 {
  margin-left: 67%;
}
.card-12 {
  margin-left: 83%;
}
.card-13 {
  margin-left: 3%;
}
.card-14 {
  margin-left: 19%;
}
.card-15 {
  margin-left: 35%;
}
.card-16 {
  margin-left: 51%;
}
.card-17 {
  margin-left: 67%;
}
.card-18 {
  margin-left: 83%;
}
.card-19 {
  margin-left: 3%;
}
.card-20 {
  margin-left: 19%;
}
.card-21 {
  margin-left: 35%;
}
.card-22 {
  margin-left: 51%;
}
.card-23 {
  margin-left: 67%;
}
.card-24 {
  margin-left: 83%;
}

/* 12 card game */
/* .card-1 {
  margin-left: 3%;
}
.card-2 {
  margin-left: 19%;
}
.card-3 {
  margin-left: 35%;
}
.card-4 {
  margin-left: 51%;
}
.card-5 {
  margin-left: 67%;
}
.card-6 {
  margin-left: 83%;
}
.card-7 {
  margin-left: 3%;
}
.card-8 {
  margin-left: 19%;
}
.card-9 {
  margin-left: 35%;
}
.card-10 {
  margin-left: 51%;
}
.card-11 {
  margin-left: 67%;
}
.card-12 {
  margin-left: 83%;
} */

button {
  padding: 1em;
  border-radius: 5px;
  background-color: #23a6f7;
  color: white;
  font-size: 16px;
  border: none;
  margin: 1em;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}
.start-btn {
  box-shadow: -2px 5px 2px #2296f5;
}
.start-btn:hover {
  background-color: #0289f7;
}

.start-btn:active {
  box-shadow: 0px 3px 2px #0289f7;
  top: 3px;
}

.header {
  position: relative;
  top: 0;
  background-color: #e9ecef;
  width: 100%;
  text-align: center;
  /* height: 14%; */
}

.back:hover {
  background-color: teal;
  cursor: pointer;
}
.title {
  display: inline-block;
  position: relative;
}
.score-box {
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 1em;
}

.card-image {
  display: inline-block;
  position: relative;
  width: 10%;
  margin-top: 2%;
  margin-left: 45%;
}

.correct {
  background-color: green;
  animation: success 1s;
  cursor: not-allowed;
}

.wrong {
  background-color: red;
  animation: shake 0.3s infinite;
  cursor: not-allowed;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes success {
  0%,
  100% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .instructions {
    width: 90%;
    margin-left: 5%;
    letter-spacing: 0.2em;
    line-height: 2em;
  }
  .title {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0px;
  }
}

/* In btwn phone & tablet */
@media (min-width: 481px) {
  .instructions {
    width: 70%;
    margin-left: 15%;
    letter-spacing: 0.2em;
    line-height: 2em;
    font-size: 1.5em;
  }
  .title {
    font-size: 1em;
  }
}

/* iPad */
@media (min-width: 768px) and (max-width: 1024px) {
  .instructions {
    width: 80%;
    margin-left: 10%;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    line-height: 3em;
  }
}

/* Computer */
@media (min-width: 1024px) {
  .instructions {
    width: 80%;
    margin-left: 10%;
    letter-spacing: 0.2em;
    line-height: 3em;
    font-size: 2em;
  }
}

.instructions {
  color: white;
  text-align: center;
}

.winner {
  animation: congratulations 0.3s infinite;
}

@keyframes congratulations {
  0%,
  100% {
    color: blue;
  }
  50% {
    color: red;
    transform: scale(1.1, 1.2);
  }
}
